# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\srping_source_stu\spring_source_ideaulimate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
